# Keil Generated output files in the sub-directories .\Listings and .\Objects

*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
 
RTE/
Templates/
Examples/
 
!*.uvprojx
!*.h
!*.c
!*.ioc
!*.axf
!*.bin
!*.hex
